<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/python2.7

def add_tm_support_to_path():
	import os, sys
	sys.path.append(os.environ['TM_BUNDLE_SUPPORT'])

add_tm_support_to_path()

from perforce_bundle_helper import *

p4_response = run_p4_command_on_selected_textmate_files('annotate')

html_response = stdout_to_html(p4_response, '')
html_response = html_response.replace('\n//depot/', '\n\n//depot')

print(html_response)</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@4</string>
	<key>name</key>
	<string>Annotate</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>D6F5F368-C476-4882-82EA-D11E22A445BF</string>
</dict>
</plist>
