<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>the_file=`python -c "import sys,os;print os.path.realpath(sys.argv[1])" $TM_FILEPATH`
"${TM_P4:=p4}" -P $P4PASSWD annotate -c -i -q "$the_file"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@4</string>
	<key>name</key>
	<string>Blame</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>D6F5F368-C476-4882-82EA-D11E22A445BF</string>
</dict>
</plist>
